/*********************************************
Global Styles
**********************************************/

body {
	background-color: lightseagreen;
	color: ghostwhite;
}

.title {
	text-shadow: darkslategray 1px 2px;
	text-align: center;
	padding: 1em 0;
}

.text-content {
	text-align: center;
}


/*********************************************
Controls
**********************************************/

.controls {
	/* text-align: center; */
	margin-left: 2em;
}

.controls button {
	border-radius: 15px;
	background-color: darkslateblue;
	color: ghostwhite;
	border: 1px solid darkviolet;
	padding: .5em;
	margin: 1em;
}

.number-input {
	width: 4em;
}

input {
	background-color: rgba(100, 100, 100, .5);
	border: 1px solid darkviolet;
	color: ghostwhite;
	text-align: center;
}

li {
	list-style: none;
	font-size: 1.5em;
}


/*********************************************
Delete Buttons
**********************************************/

.delete-button {
	margin-left: 1em;
	border-radius: 10px;
	border: 1px solid darkviolet;
	background-color: rgba(140, 100, 100, .7);
	color: ghostwhite;
	padding: 3px 5px;
	font-size: .5em;
	letter-spacing: 1px;
}